.message{
    margin: auto;
}

.message-bg{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    display: block;
    align-items: center;
}
.message-bg__title{
    font-size: 24px;
    color: #28a745;
    margin-bottom: 10px;
}
.message-bg__icon{
    height: 150px;
}
.send-token-message{
    font-family: Roboto;
}
.message__change--password{
    background-color: #b7b0fe;
    color: white;
    margin-top: 10px;
}
.message__change--password:hover{
    border-color: transparent;
}

.message__change--password__link{
    color: white;
    text-decoration: none;
    outline: none;
}
.message__change--password .message__change--password__link:hover{
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
}
.message-bg__icon--reset{
    padding: 20px;
    height: 130px;
}